body, html {
    height: 100%;
    margin:0;
}

#startbutton {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 500%;
    font-family: 'Lucida Handwriting',curvise;
    margin-left:40%;
    margin-top:20%;
}

#everything {
    margin:3%;
}

#HP1 {
    height:20px;
    width: 53px;
    background-color: rgb(255, 255, 255);
    margin-left:2%;
    font-weight: bolder;
    padding-top: 0.9%;
    padding-top: 0.9%;
    padding-left:0.3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display:none;
}

#HP2 { 
    height:20px;
    width: 53px;
    background-color: rgb(255, 255, 255);
    margin-left:2%;
    font-weight: bolder;
    padding-top: 0.9%;
    padding-left:0.3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display:none;
}

#healthbartwo{
    height:30px;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width:10%;
    background: rgb(0,97,0);
    background: linear-gradient(90deg, rgba(0,97,0,1) 0%, rgba(41,156,39,1) 30%, rgba(41,218,38,1) 54%, rgba(49,255,80,1) 79%);
    border-radius: 15px;
    margin-bottom:5%;
    box-shadow: 10px 10px 15px 0px #000000; 
    display:none; 
}

#healthbarone{
    height: 30px;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width:10%;
    background: rgb(0,97,0);
    background: linear-gradient(90deg, rgba(0,97,0,1) 0%, rgba(41,156,39,1) 30%, rgba(41,218,38,1) 54%, rgba(49,255,80,1) 79%);
    border-radius: 15px;
    margin-bottom:5%;
    box-shadow: 10px 10px 15px 0px #000000;  
    display:none;
}

#fightButtonIcon {
	box-shadow:inset 0px 0px 0px 1px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 3px 6px #b23e35;
    box-shadow: 10px 10px 15px 0px #000000; 
}
#fightButtonIcon:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
#fightButtonIcon:active {
	position:relative;
	top:1px;
}

#vegeta{
    transform: scaleX(-1);
}

#image-line-bottom .charCard{
    background: rgb(0,21,97);
background: linear-gradient(0deg, rgba(0,21,97,1) 7%, rgba(49,85,255,1) 77%);
box-shadow: 10px 0px 15px 0px #000000;
}

#image-line .charCard{
    background: rgb(187,62,62);
    background: linear-gradient(0deg, rgba(187,62,62,1) 11%, rgba(176,7,7,1) 85%);
    box-shadow: 10px 0px 15px 0px #000000;
}

#bg {
    background-image: url("https://pbs.twimg.com/media/C5nazjbWUAAcizG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}
#map img{
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
}
#image-line-bottom {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}
#image-line-bottom img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
    background-color: white;
}
#image-line-bottom h2 {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0.9rem;
    border: 3px solid;

}
#image-line-bottom img:last-child {
    margin-right: 0;
}

#image-line {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#image-line img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
    background-color: white
}

#image-line h2 {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0.9rem;
    border: 3px solid;
}

#image-line img:last-child {
    margin-right: 0;
}

#versus {
    border-radius: 50%;
    box-shadow: 10px 10px 15px 0px #000000;  
}

#vsContainer{
    margin-left: 35%;
    margin-right: 50%
}

#two {
    margin-left: 12%;
}

#newVsContainer{
    margin-left:23%;
}

#readybutton {
    box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 3px 6px #454545;
    box-shadow: 10px 10px 15px 0px #000000; 
}
#readybutton:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
#readybutton:active {
	position:relative;
	top:1px;
}

#map {
    margin-left: 7%;
}

#setbutton {
	box-shadow:inset 0px 0px 0px 1px #f2f2f2;
	background:linear-gradient(to bottom, #b3bdb6 5%, #ffffff 100%);
	background-color:#b3bdb6;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 3px 6px #454545;
    margin-left: 135px;
    box-shadow: 10px 10px 15px 0px #000000; 
}
#setbutton:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #b3bdb6 100%);
	background-color:#ffffff;
}
#setbutton:active {
	position:relative;
	top:1px;
}

.starter {
    margin-left: 210%;
    
}

#fightButtonIcon{
    margin-left: 55%;
}


#favorite {
    position: relative;
    display:flex;
    margin: 2%
}
#favorite img {
    height: 350px;
    border: 3px solid;
}

body {
    background-image: url("https://wallpaperaccess.com/full/1118941.jpg");
    background-size: 100%;
    background-color: #cccccc;
}

form {
    width: 10%;
    margin-left: 2%;
}

/* Style inputs */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width:100%;
    background-color: #99aa04;
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a09d45;
}

#playerTwoName {
    text-shadow: 2px 2px #000000;
    font-size: 40px;
    font-family: Verdana;
    color: blue;
}

#playerOneName {
    text-shadow: 2px 2px #000000;    
    font-size: 40px;
    font-family: Verdana;
    color: red;
}

#playerTwoDesc {
    font-size: 20px;
    font-family: Verdana;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}

#playerOneDesc {
    font-size: 20px;
    font-family: Verdana;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}

#cloud {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}

#container {
    position: relative;
    text-align: left;
    color: white;
    font-family: 'Lucida Handwriting';
    text-shadow: 2px 2px 0px  rgb(0, 0, 0), -2px -2px 0px  rgb(0, 0, 0), 2px -2px 0px  rgb(0, 0, 0), -2px 2px 0px  rgb(0, 0, 0);
}

#text-container {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
}

#appear {
    height: 27px;
    margin-left: 10px;
    font-size: larger;
    border-radius: 50%;
    margin-top: 6%;
    box-shadow: 10px 10px 15px 0px #000000; 
}

#newcombat {
    margin-left: 37%;
}


#combatbttn {
	box-shadow:inset 0px 0px 0px 1px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 3px 6px #b23e35;
    box-shadow: 10px 10px 15px 0px #000000; 
}
#combatbttn:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
#combatbttn:active {
	position:relative;
	top:1px;
}

#mapheader {
    color:white;
    text-align: center;
    font-size: 30px;
    margin-left: 42%;
    font-family: Verdana;
    margin-bottom: 0;
    text-shadow: 2px 2px #000000;
}

#favorite img {
    box-shadow: 10px 10px 15px 0px #000000; 
}

#everything {
    zoom: 90%;
}

#newgame {
	box-shadow:inset 0px 0px 0px 1px #f2f2f2;
	background:linear-gradient(to bottom, #b3bdb6 5%, #ffffff 100%);
	background-color:#b3bdb6;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 3px 6px #454545;
    margin-left: 0px;
    box-shadow: 10px 10px 15px 0px #000000;
    margin-bottom: 1px;
}

#newcombat {
    margin-left: 20%;
}