#image-line-bottom {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    /* border-style: outset; */
    
}
#image-line-bottom img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
    
    
    
}
#image-line-bottom h2 {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
    
    
    
}
#image-line-bottom img:last-child {
    margin-right: 0;
    
  
}

#image-line {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    /* border-style: outset; */
}

#image-line img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
      
}

#image-line h2 {
    flex: 0 1 auto;
    text-align: center;
    margin-right: 0.9rem;
    border: 3px solid;
    border-radius: 50%; 
       
}

#image-line img:last-child {
    margin-right: 0;
    
}



#favorite {
    position: relative;
    display:flex;
    justify-content: center;
}
#favorite img {
    height: 350px;
    border: 3px solid;
    margin-right: 20em;
    
}

body {
    background-color:burlywood;
}